{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>MyGrocery</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Premium User Register</h2>
        <h4>
            If you are a passionated Grocery store owner, please register here!
            <br><br>
        </h4>
        <p><a class="btn btn-default btn-lg" href="PremiumUserRegister.html">Premium User Register &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>General User Register</h2>
        <h4>If you need the latest information for all available products from local grocery stores, please register here!</h4>
        <p><a class="btn btn-default btn-lg" href="GeneralUserRegister.html">General User Register &raquo;</a></p>
    </div>
</div>

{% endblock %}
