{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h2>Publish Advertisement</h2>
</div>

<body>
    <div class="row">
        <div class="col-md-3"></div>
            <div class="col-md-6">

                {% for message in messages %}
                <p style="color: red;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %} 

                {% if publishAdvertisementForm.errors %}
                <p style="color: red;">
                    Correct the following errors {{ publishAdvertisementForm.errors|pluralize }}.
                </p>
                {% endif %}
                <FORM method="post"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <table class="table table-striped">
                    {{ publishAdvertisementForm.as_table }}
                    </table>
                    <p> <input name="reserve" TYPE="submit" VALUE="Publish" 
                    class="btn btn-default btn-lg pull-right" /></p>
                    <p><a class="btn btn-warning btn-lg" href="PremiumUserDashboard.html">Cancel</a></p>
                </FORM>
            </div>
        <div class="col-md-3"></div>
    </div>
</body>

{% endblock %}