{% extends "app/layout.html" %}

{% block content %}


<script>
    $('.myFormset').formset({
        addText: 'add link',
        deleteText: 'remove'
    });
</script>

<div class="jumbotron">
    <h2>Update Inventory</h2>
</div>

<body>
    <div class="row">
        <div class="col-md-3"></div>
            <div class="col-md-6">
                {% if InventoryFormSet.errors %}
                <p style="color: red;">
                    Correct the following errors {{ InventoryFormSet.errors|pluralize }}.
                </p>
                {% endif %}
                    

                {{InventoryFormSet.management_form}}
           
                 {% for myform in InventoryFormSet %}
                <div class="myFormset">
                    {{ myform.Item_Name }}
                    {% if myform.Item_Name.errors %}
                        {% for error in myform.Item_Name.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    {% endif %}

                    {{ myform.Item_Price }}
                    {% if myform.Item_Price.errors %}
                        {% for error in myform.Item_Price.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    {% endif %}

                    {{ myform.Item_Quantity }}
                    {% if myform.Item_Quantity.errors %}
                        {% for error in myform.Item_Quantity.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        <div class="col-md-3"></div>
    </div>
</body>

{% endblock %}